body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#admin-side-panel{
    width: 300px;
    height: 100%;
    background-color: #3394FF;
    font-family: 'Ubuntu', sans-serif;
}

#admin-panel-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    background-color:   #3394FF;
    color: #FFFFFF;
}

.side-panel-link{
    background-color: #3394FF;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #FFFFFF;
}

.side-panel-link:hover{
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.7);
    transition: 0.3s;
}

#logout-btn{
    text-decoration: none;
}

#main-content{
    width: 1620px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

#main-header{
    height: 50px;
    top: 0;
    width: auto;
    display: flex;
    align-items: baseline;
    line-height: 50px;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #3394FF;
}

.admin-board-container{
    display: flex;
    flex-direction: row;
}

#bottom-admin-board-container{
    margin-top: 10px;
}

.admin-board{
    height: 350px;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #3394FF;
    transition: 0.2s;
    color: #3394FF;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}

.admin-board:hover{
    background-color: #3394FF;
    border: 2px solid #3394FF;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.5);
    transition: 0.2s;
    color: #FFFFFF;
}

.right-admin-board{
    margin-left: 10px;
}

.admin-board-header{
    height: 50px;
    line-height: 50px;
    align-items: baseline;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.admin-board-content{
    height: 250px;
}
